[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Record and display the repository's replication status without having to dig into the Gerrit replication_log
[access "refs/*"]
	owner = group GerritForge-replication-status
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-replication-status
	label-Verified = -1..+1 group GerritForge-replication-status
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-replication-status
	removeReviewer = group GerritForge-replication-status
	submit = group GerritForge-replication-status
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
